<a class="btn btn-primary btn-lg" <%= link_to 'Create user', new_users_admin_path %></a>
<p></p>

<div>
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Domain</th>
      <th>Role</th>

    </tr>
    </thead>
    <tbody>
    <% @users = User.all %>
    <% @users.each do |u| %>
      <%if u.domain == current_user.domain %>
        <tr>
          <th><%= u.id %></th>
          <td><%= u.name %></td>
          <td><%= u.email %></td>
          <td><%= u.domain %></td>
          <td><%= u.role %></td>
        </tr>
      <%end %>
    <% end %>
    </tbody>
  </table>
</div>